*{
    margin:0;
    padding:0;
}

body{
	background-color:#000;
}

canvas{
	display:block;
    background-color:#000;
}

.hidden{
    display:none;
}

#canvas {
	background: #000;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
	width: auto;
	height: auto;
	/*border: 4px solid white;*/
}